.all {
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
}
.heading {
    background-color: rgb(155, 155, 155);
}

.second {
    font-family: cursive, Arial, Helvetica, sans-serif;
    width: 20%;
}
caption {
    font-family: cursive, Arial, Helvetica, sans-serif;
}
